<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01class.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>L01EX01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>L01EX02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>L01EX03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>L01HW01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>L01HW02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>L01HW03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>L02EX01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>L02EX02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>L02HW01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>L02HW02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>L02HW03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>L02HW04.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>L02HW05.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>L03EX01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>L03HW01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>L03HW02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>L03HW03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>L03HW04.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>L04HW01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>L04HW02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>L04HW03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>L04HW04.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>L05EX01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>L05HW01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>L05HW02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>L05HW03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>L05HW04.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>xcamp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB0021C52CB20BBB00D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0021D52CB2137500D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0021E52CB2279900D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0021F42CB227AC00D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0021FF2CB227BB00D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0022152CB228A400D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0022202CB228B200D359C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0409C02CACBE9700FAE9B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0409D02CADEFCC00FAE9B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E86902CBB678C00B23B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E869B2CBB67A200B23B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E86A62CBB67B000B23B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E86B12CBB67C300B23B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E86D12CBB8FE400B23B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E874F2CBC766900B23B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1E97C72CD7FD8900CC6701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6E9D612CC584440015C52F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6E9D6C2CC584510015C52F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6E9D772CC5845C0015C52F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6E9D822CC5846B0015C52F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA17B3A2CAC9D6F000C5050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA17B4F2CAC9E70000C5050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA17B5A2CAC9EA2000C5050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA17B652CAC9EB0000C5050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFB4EC2CCF11610098D51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFB4F72CCF11740098D51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFB5022CCF118C0098D51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFB50D2CCF119C0098D51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFB5182CCF11AB0098D51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
